{% extends 'base.html' %}
{% block content %}
<div class="chatroom-form">
    <form method="post" class="form-centered">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">친구 이름은? </label>
            <input type="text" name="title" id="id_title" required>
        </div>
        <div class="radio-group">
            <div class="radio-group"> {% for mbti, label in form.mbti.field.choices %} <input type="radio"
                    id="{{ mbti }}" name="mbti" value="{{ mbti }}" {% if forloop.first %}checked{% endif %} required>
                <label for="{{ mbti }}">{{ label }}</label> {% endfor %} </div>
        </div> <input type="submit" value="친구 사귀기">
    </form>
</div>
<style scoped>
    /* 채팅방 폼 */
    .chatroom-form {
        /* display:flex; */
        width: 100%;
        max-width: 400px;
        padding-top: 70px;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .form-group {
        display: flex;
        margin: 0 auto;
        align-items: center;
        width: 180px;
        font-size: 30px;
    }

    .form-group label {
        flex: 0 0 110px;
    }

    .form-group input[type="text"] {
        flex: 1;
        /* 나머지 공간 모두 사용 */
        width: 60px;
    }


    .chatroom-form label {
        display: block;
        font-size: 18px;
        color: #ccc;
        margin-bottom: 5px;
    }

    .chatroom-form input[type="text"] {
        width: 80%;
        height: 40px;
        border: 1px solid #555;
        border-radius: 5px;
        background-color: #222;
        color: #fff;
        font-size: 20px;
    }

    .chatroom-form input[type="submit"] {
        width: 60%;
        height: 40px;
        /* padding: 0 10px; */
        border: none;
        border-radius: 3px;
        background-color: #FF5347;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px
    }

    .form-centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 가운데 정렬 */
    }

    .chatroom-form input[type="submit"]:hover {
        background-color: #ff5347ec;
    }

    .chatroom-form_error {
        color: #949090;
    }

    /* 라디오 버튼 스타일링 */
    .radio-group {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .radio-group label {
        display: block;
        width: 60px;
        height: 40px;
        line-height: 40px;
        border: 2px solid #555;
        border-radius: 3px;
        text-align: center;
        color: #fff;
        background-color: #222;
        cursor: pointer;
        margin: 10px;
        /* 라디오 버튼 사이에 10px 간격 추가 */
    }

    .radio-group input[type="radio"] {
        display: none;
    }

    .radio-group input[type="radio"]:checked+label {
        background-color: #FF5347;
    }
</style> {% endblock %}