{% load static %} 
<!DOCTYPE html> 
<html lang="ko"> 
    <head> 
        <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
    </head> 
    <body>
    <h1> {{ chatroom.title }}</h1>
    
    <div class="chatroom">
        {% for qna in chatroom.qna_set.all %}
            <div class="chat">
                <div class="question_bubble">
                    {{ qna.question }}
                </div>
                <div class="answer_bubble">
                    {{ qna.answer }}
                </div>
            </div>
        {% endfor %}
    </div>
    
    <form class="submit_form" action="{% url 'chat:qna_create' chatroom.id %}" method="post">
        {% csrf_token %}
        <input name="question" id="question">
        <input class="submit_button" type="submit" value=">">
    </form>
    <script>
        function submitForm(event) {
            event.preventDefault(); // 폼 제출 막기
    
            const questionInput = document.getElementById('question');
            const questionValue = questionInput.value.trim();
    
            if (questionValue !== '') {
                // 사용자가 question을 작성한 경우에만 제출 수행
                document.getElementById('qna_form').submit();
                questionInput.value = ''; // question 비워주기
            }
        }
        document.getElementById('question').addEventListener('keydown', function(e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                if (e.shiftKey) {
                    // Shift + Enter 누르면 줄바꿈
                    this.value += '\n';
                } else {
                    // Enter 누르면 submitForm 함수 호출
                    submitForm(e);
                }
            }
        });
    </script>