body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main_page {
    margin: 0 auto;
    text-align: center;
}

.main_page h1 {
    color:white;
}
.explaination {
    color:white;
}

.detail_body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #000;
    font-size: 17px;
    padding: 0 130px 0 130px;
  }
  
  /* 모바일 환경에서의 스타일 적용 */
  @media (max-width: 768px) {
    .detail_body {
      padding: 0 20px 0 20px;
    }
  }

  .detail_body h3 {
    color: #FFF;
    text-align: center;
    padding: 10px;
    background-color: #476fffc1;
    border-radius: 10px;
    margin: 30px auto 50px auto;
    max-width: 600px;
    min-width: 300px;
    display: inline-block;
}



.chatroom {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 20px 30px;
    padding-bottom: 100px;
}

.chat {
    display: flex;
    flex-direction: column;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.question_bubble {
    align-self: flex-end;
    max-width: 60%;
    min-width: 30px;
    padding: 8px 12px;
    background-color: #FF5347;
    border-radius: 18px 0px 18px 18px;
    color: #FFF;
    margin-bottom: 15px;
    animation: fadeInUp 1s forwards;
}



.answer_bubble {
    align-self: flex-start;
    max-width: 60%;
    min-width: 30px;
    padding: 8px 12px;
    background-color: #476FFF;
    border-radius: 0px 18px 18px 18px;
    color: #FFF;
    margin-bottom: 15px;
    animation: fadeInUp 1s forwards;
}

.submit_form {
    position: fixed;
    margin-top: 15px;
    border-radius: 15px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    background-color: #333;
    /* padding: 8px 16px; */
    bottom: 20px;
    left: 20px;
    right: 20px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#question {
    flex-grow: 1;
    padding: 8px 12px;
    border-radius: 12px;
    border: none;
    background-color: #202020;
    transition: background-color 0.2s;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

#question:focus {
    outline: none;
    background-color: #949090;

}

.submit_button {
    /* width:95%; */
    background-color: #FF6347;
    border: none;
    color: #FFF;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s;
    
}

.submit_button:hover {
    transform: scale(1.03);
}

textarea {
    box-sizing: border-box;
    overflow: hidden;
    /* resize: none; */
    padding: 5px;
}

/* 네비게이션 스타일 */
header {
    background-color: #333;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: #FFF;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    /* gap: 20px; */
}

.nav-links li a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.nav-links li a:hover {
    background-color: #555;
}

/* 로그인, 회원가입 폼 */
.sign-form {
    /* display:flex; */
    width: 100%;
    max-width: 400px;
    padding-top: 70px;
    margin: 0 auto;
    /* background-color: #333; */
    border-radius: 5px;
}

.sign-form .form-group {
    margin-bottom: 15px;
}

.sign-form label {
    display: block;
    font-size: 18px;
    color: #ccc;
    margin-bottom: 5px;
}

.sign-form input[type="text"],
.sign-form input[type="password"] {
    width: 95%;
    height: 40px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
}

.sign-form input[type="submit"] {
    width: 100%;
    height: 40px;
    /* padding: 0 10px; */
    border: none;
    border-radius: 3px;
    background-color: #FF5347;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.sign-form input[type="submit"]:hover {
    background-color: #ff5347ec;
}

.sign_error_form {
    color: #949090;
}

