{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main_page">
    <h1>환영합니다!</h1>
    <div class="explaination">
        <b>MBTIGPT</b>는 인공지능에게 MBTI를 부여합니다.
    </div>
    <br><br>

    <img src="{% static 'Component1.svg' %}" style="width:200px"/><br>
    <img src="{% static 'Component2.svg' %}" style="width:200px"/><br>
    <img src="{% static 'Component3.svg' %}" style="width:200px"/><br>
    <img src="{% static 'Component4.svg' %}" style="width:200px"/><br>
    <img src="{% static 'Component5.svg' %}" style="width:200px"/>


</div>



{% endblock %}