{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main_page">
    {% if user.is_authenticated %}
    <h1>{{ user.last_name }}님 어서와요!</h1>
    {% else %}
    <h1>환영합니다!</h1>
    {% endif %}

    <div class="explaination">
        <b>MBTIGPT</b>로 원하는 MBTI의 친구를 사귀어 보세요.
    </div>
    <br><br>

    <img src="{% static 'Component1.svg' %}" style="width:170px"/><br>
    <img src="{% static 'Component2.svg' %}" style="width:170px"/><br>
    <img src="{% static 'Component3.svg' %}" style="width:170px"/><br>
    <img src="{% static 'Component4.svg' %}" style="width:170px"/><br>
    <img src="{% static 'Component5.svg' %}" style="width:170px"/>


</div>



{% endblock %}