{% load static %}

<header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="{% url 'index' %}"><img src="{% static 'Component1.svg' %}" style="width:100px"/></a>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'chat:index' %}">Chat</a></li>
                {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'common:logout' %}">Logout</a></li>
                {% else %}
                <li> <a class="nav-link" href="{% url 'common:login' %}">Login</a></li>
                {% endif %}
                <li>
                    {% if not user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:signup' %}">Sign up</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <style type="text/css">
        a:link { color:white; text-decoration: none;}
        a:visited { color: white; text-decoration: none;}
        a:hover { color: white; text-decoration: none;}
    </style>