<header>
        <nav class="navbar">
            <div class="navbar-brand">
                <h1>MBTIGPT</h1>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'chat:index' %}">Chat</a></li>
                {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (Logout)</a></li>
                {% else %}
                <li> <a class="nav-link" href="{% url 'common:login' %}">Login</a></li>
                {% endif %}
                <li>
                    {% if not user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:signup' %}">Signup</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>